.blog {
    max-width: 980px;
    margin: 56px auto 0 auto;
    .head {
        border-bottom: 2px solid black;
        font-family: 'Proxima Nova', 'Montserrat', sans-serif;
        font-size: 18pt;
        width: 89px   ;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;    }
    .item {
        display: flex;
        margin: 31.5px auto 100px auto;
        justify-content: space-between;
        .date {
            width: 60px;
            height: 60px;
            background-color: $site-blue;
            color: $site-white;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            padding: 8px;
            h1 {
                font-size: 16pt;
                margin: 0;
            }
            h2 {
                font-size: 8pt;
                text-transform: uppercase;
                margin: 0;
            }
        }
        .mainbod {
            width: 92%;
            max-width: 900px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            margin: 0 auto;
            overflow: hidden;
            
            img{
                height: 259px;
                width: 900px;
            }
         

            h3 {
                margin-top: 20px;
            }
            p {
                max-width: 380px;
                font-size: 12pt;
                color:$site-blue;
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .blog {
        .item {
            flex-direction: column;
            .mainbod {
                margin: 10px 0 0 0;
            }
        }
    }
}